datasets
langchain==0.0.189
loralib
sentencepiece
git+https://github.com/huggingface/transformers.git
accelerate
bitsandbytes
git+https://github.com/huggingface/peft.git
gradio
appdirs
markdown2
pygments
mdtex2html
llama_index
